.main-container{
  max-width: 100%;
  padding: 0 15px;
  @include center();
  //border: 1px solid yellow;

  @include respond-min(576){
    max-width: 540px;
  }
  @include respond-min(768){
    max-width: 720px;
  }
  @include respond-min(992){
    max-width: 960px;
  }

  @include respond-min(1200){
    max-width: 1140px;
  }
}

.main-container--fluid{
  width: 100%;
  padding: 0 15px;
}

